<%- model_class = Producer -%>
<div class="page-header">
  <h1><%=t '.title', :default => Producer %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:website) %></th>
      <th><%= model_class.human_attribute_name(:profile_url) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:fax) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:extra) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @producers.each do |producer| %>
      <tr>
        <td><%= producer.id %></td>
        <td><%= producer.title %></td>
        <td><%= producer.website %></td>
        <td><%= producer.profile_url %></td>
        <td><%= producer.phone %></td>
        <td><%= producer.fax %></td>
        <td><%= producer.location %></td>
        <td><%= producer.extra %></td>
        <td><%=l producer.created_at, format: :long %></td>
        <td>
          <%= link_to producer_path(producer), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to producer_path(producer), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_producer_path,
            :class => 'btn btn-primary' %>
