<%- model_class = Wine -%>
<div class="page-header">
  <h1><%=t '.title', :default => Wine %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:critics_score) %></th>
      <th><%= model_class.human_attribute_name(:average_user_rating) %></th>
      <th><%= model_class.human_attribute_name(:food_suggestion) %></th>
      <th><%= model_class.human_attribute_name(:wine_style) %></th>
      <th><%= model_class.human_attribute_name(:awards) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:extra) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.id %></td>
        <td><%= wine.title %></td>
        <td><%= wine.critics_score %></td>
        <td><%= wine.average_user_rating %></td>
        <td><%= wine.food_suggestion %></td>
        <td><%= wine.wine_style %></td>
        <td><%= wine.awards %></td>
        <td><%= wine.notes %></td>
        <td><%= wine.extra %></td>
        <td><%=l wine.created_at, format: :long %></td>
        <td>
          <%= link_to wine_path(wine), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to wine_path(wine), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_wine_path,
            :class => 'btn btn-primary' %>
